</div>
<div id="footofthegiants">
	<div class="flex-item">
	<script src="https://nuthead.neocities.org/ring/ring.js"></script>
	</div>
	<div class="flex-item">
	<p><a href='https://webring.dinhe.net/prev/https://entangled-lydian-pleonasm.neocities.org/'>≲</a> 
	<a href='https://webring.dinhe.net/random'>δ Retronaut</a>
	<a href='https://webring.dinhe.net/next/https://entangled-lydian-pleonasm.neocities.org/'>≳</a></p>
	</div>
	<div class="flex-item">
	<p><a href="https://webring.yesterweb.org/noJS/index.php?d=prev&amp;url=https://entangled-lydian-pleonasm.neocities.org/">≲</a>
	<a href="https://yesterweb.org/webring/surf.html">Yesterweb</a>
	<a href="https://webring.yesterweb.org/noJS/index.php?d=rand&amp;url=https://entangled-lydian-pleonasm.neocities.org/">δ</a>
	<a href="https://webring.yesterweb.org/noJS/index.php?d=next&amp;url=https://entangled-lydian-pleonasm.neocities.org/">≳</a></p>
	</div>
	<div class="flex-item">
	<p>This website is hosted on <a href="https://neocities.org">n e o c i t i e s</a></p>
	</div>
</div>
<div>
