<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Entangled Lydian Pleonasm" />
<link rel="shortcut icon" type="image/x-icon" href="assets/images/logo.png" />
<style type="text/css">
body {
	background-image: url(/assets/images/back.jpg);
	background-size: 20%;
	color: #DED7E2;
	background-color: #000000;
	font-family: monospace;
  	display: flex;
  	flex-direction: row;
}
header {
	font-size: 1.3rem;
	line-height: 1.3rem;
	background-color: #1C1B1E;
	/* border: 1px solid; */
	border-radius: 1000px;
	width: 56%;
	margin-left: 23%;
	margin-right: 23%;
	padding: 5px 0px 5px;
	text-align:center;
}
footer {
	text-align: right;
	font-size: 1rem;
}
img {
	max-width: 100%;
	max-height: 100%;
}
#iconl {
	height: 50px;
	float: center;
}
#positionlateraledesecurité {
	font-size: 1.3rem;
	line-height: 1.3rem;
	font-family: serif;
	background-color:#1C1B1E;
	border-radius: 5px;
	border: 1px solid;
	border-color:darkgrey;
	color:#DED7E2;
	padding: 0px 20px 20px 0px;
	width: 9%;
	min-height: 85vh;
	max-height: 85vh;
	overflow : scroll;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 1%;
	margin-bottom: 50px;
}
#maindiv {
	font-size: 1.3rem;
	line-height: 1.3rem;
	background-color:#1C1B1E;
	border-radius: 5px;
	border: 1px solid;
	border-color:darkgrey;
	color:#DED7E2;
	padding: 0px 20px 20px 20px;
	width: 90%;
	min-height: 85vh;
	max-height: 85vh;
	overflow : auto;
	margin-top: 30px;
	margin-left: 0%;
	margin-right: 5%;
	margin-bottom: 50px;
}
#footofthegiants {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	background-color: #1C1B1E;
	border-top: 1px solid;
	border-color: darkgrey;
	color:#DED7E2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
blockquote {
	white-space: pre ;
	font-family: monospace;
	font-style: italic;
	line-height: 1;
	text-align: left;
	position: relative;
	right: 25%;
	left: 15%;
}
#flex-container > .flex-item {
	flex: auto;
}
p {
	padding-left: 10px;
	padding-right: 10px
}
h1 {
	line-height: 2rem;
	text-align: center;
	font-size: 200%;
}
pre {
	text-align: left;
	position: relative;
	right: 25%;
	left: 15%;
	font-size:120%;
}
h3 {
	text-align: center;
	font-size: 150%;
}
hr {
	text-align: center;
	border: 0;
}
hr:before {
	content: '///////////////////////////////////////////';
}
hr.poetry:before {
	font-size: 150%;
	content: '*';
}
hr.diese:before {
	font-size: 150%;
	content: '♯';
}
hr.becare:before {
	font-size: 150%;
	content:'♮'
}
hr.lefk:before {
	content: "---------------" ;
}
hr:after {
	content: attr(data-content) "";
}
table, th, td {
	border: thin solid black;
	border-collapse: collapse;
}
a {
	color: #ABC9E2;
	text-decoration: none;
}
a:hover {
	color: #D0ABE2;
	text-decoration: underline;
}
</style>
