<div id=positionlateraledesecurité>
	<p style="text-align:center"><a href="/index.html"><img src="/assets/images/mainfond.png" id=iconl></a></p>
	<hr class="lefk">
	<p style="text-align:center"><a href="/virgule.html">Virgule</a></p>
	<hr class="lefk">
	<p style="text-align:center"><a href="/links.html">Bookmarks</a></p>
	<hr class="lefk">
	<p style="text-align:center"><a href="/about.html">&#128065;</a></p>
</div>
